<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
  		<div class="container">
  			<%= link_to "microblog", root_path, id: "logo" %>
        <nav>
          <ul class="nav pull-right">
            <% if signed_in? %>
              <li id="search">
                <%= form_for(:searchs, url: search_path,html: { method: :get })  do |f| %>
                  <%= f.text_field :name ,class: 'search-query',placeholder: 'Search'%>
                  <%= f.submit t('.search'), class: "btn btn-small" %>
                <% end %>
              </li>
            <% end %>
            <li><%= link_to t('.home'),     root_path %></li>
            <li><%= link_to t('.help'),     help_path %></li>
            <% if signed_in? %>
              <li><%= link_to t('.users'), users_path %></li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= t('.accout') %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to t('.profile'), current_user %></li>
                  <li><%= link_to t('.settings'), edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to t('.sign_out'), signout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to t('.sign_in'), signin_path %></li>
            <% end %>
            <li id="banner">
              <%= form_tag root_path, class: 'locale' do %>
                <%= select_tag 'set_locale',
                  options_for_select(LANGUAGES, I18n.locale.to_s),
                  onchange: 'this.form.submit()' %>
                <%= submit_tag 'submit' %>
                <%= javascript_tag "$('.locale input').hide()" %>
              <% end %>
            </li>
          </ul>
        </nav>
  		</div>
    </div>
	</header>